<?xml version='1.0' encoding='utf-8'?>
<plugin id="zalarudo-widget-refresh" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WidgetRefresh</name>
    <js-module name="WidgetRefresh" src="www/WidgetRefresh.js">
        <clobbers target="widgetrefresh" />
    </js-module>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="WidgetRefresh">
                <param name="ios-package" value="WidgetRefresh" />
            </feature>
        </config-file>
        <source-file src="src/ios/WidgetRefresh.swift" />
    </platform>
</plugin>