<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="LocalNotification">
    <param name="ios-package" value="APPLocalNotification" onload="true"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="UserDefaults">
    <param name="ios-package" value="UserDefaults"/>
  </feature>

  <feature name="LaunchReview">
    <param name="ios-package" value="LaunchReview"/>
  </feature>

  <feature name="ThreeDeeTouch">
    <param name="ios-package" value="ThreeDeeTouch"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Launcher">
    <param name="ios-package" value="Launcher"/>
  </feature>

  <feature name="AppReview">
    <param name="ios-package" value="AppReviewPlugin"/>
  </feature>

  <feature name="BackgroundMode">
    <param name="ios-package" value="APPBackgroundMode" onload="true"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Badge">
    <param name="ios-package" value="APPBadge"/>
  </feature>

  <feature name="BrowserPlugin">
    <param name="ios-package" value="BrowserPlugin"/>
  </feature>

  <feature name="Calendar">
    <param name="ios-package" value="Calendar"/>
  </feature>

  <feature name="Camera">
    <param name="ios-package" value="CDVCamera"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="File">
    <param name="ios-package" value="CDVFile"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="FileTransfer">
    <param name="ios-package" value="CDVFileTransfer"/>
  </feature>

  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="Globalization">
    <param name="ios-package" value="CDVGlobalization"/>
  </feature>

  <feature name="GooglePlus">
    <param name="ios-package" value="GooglePlus"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Idfa">
    <param name="ios-package" value="IdfaPlugin"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="PaymentsPlugin">
    <param name="ios-package" value="PaymentsPlugin"/>
  </feature>

  <feature name="Insomnia">
    <param name="ios-package" value="Insomnia"/>
  </feature>

  <feature name="Keychain">
    <param name="ios-package" value="CDVKeychain"/>
  </feature>

  <feature name="Media">
    <param name="ios-package" value="CDVSound"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="PersistLocalstorage">
    <param name="ios-package" value="CDVPersistLocal"/>
  </feature>

  <feature name="InAppPurchase">
    <param name="ios-package" value="InAppPurchase"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="PurchasesPlugin">
    <param name="ios-package" value="CDVPurchasesPlugin"/>
  </feature>

  <feature name="CDVOrientation">
    <param name="ios-package" value="CDVOrientation"/>
  </feature>

  <feature name="SignInWithApple">
    <param name="ios-package" value="SignInWithApple"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="TapticEngine">
    <param name="ios-package" value="TapticEngine"/>
  </feature>

  <feature name="ThemeDetection">
    <param name="ios-package" value="ThemeDetection"/>
  </feature>

  <feature name="UniversalLinks">
    <param name="ios-package" value="CULPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="WebViewColor">
    <param name="ios-package" value="WebViewColor"/>
  </feature>

  <feature name="SocialSharing">
    <param name="ios-package" value="SocialSharing"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="SilentMode">
    <param name="ios-package" value="CDVSilentModePlugin"/>
  </feature>

  <feature name="UniversalLinks">
    <param name="ios-package" value="CULPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="WatchConnectivity">
    <param name="ios-package" value="WCiOS"/>
  </feature>

  <feature name="Diagnostic">
    <param name="ios-package" value="Diagnostic"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Location">
    <param name="ios-package" value="Diagnostic_Location"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Bluetooth">
    <param name="ios-package" value="Diagnostic_Bluetooth"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Wifi">
    <param name="ios-package" value="Diagnostic_Wifi"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Camera">
    <param name="ios-package" value="Diagnostic_Camera"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Notifications">
    <param name="ios-package" value="Diagnostic_Notifications"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Microphone">
    <param name="ios-package" value="Diagnostic_Microphone"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Contacts">
    <param name="ios-package" value="Diagnostic_Contacts"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Calendar">
    <param name="ios-package" value="Diagnostic_Calendar"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Reminders">
    <param name="ios-package" value="Diagnostic_Reminders"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Motion">
    <param name="ios-package" value="Diagnostic_Motion"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="WidgetRefresh">
    <param name="ios-package" value="WidgetRefresh"/>
  </feature>

  
  <preference name="DisallowOverscroll" value="true" />
  <preference name="UIWebViewBounce" value="true" />
  <preference name="SplashScreenDelay" value="1000" />
  <preference name="IOS_UNIFORM_TYPE_IDENTIFIER" value="public.image" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="FadeSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="500" />
  <preference name="SuppressesLongPressGesture" value="true" />
  <preference name="ServiceWorker" value="sw.js" />
  <preference name="BackgroundColor" value="0x000000ff" />
  <preference name="KeyboardStyle" value="dark" />
  <preference name="KeyboardResizeMode" value="body" />
  <preference name="KeyboardResize" value="false" />
  <preference name="StatusBarStyle" value="blackopaque" />
  <preference name="iosPersistentFileLocation" value="Library" />
  <preference name="InAppBrowserOverrideUserAgent" value="Mozilla/5.0 Google" />
  <preference name="UseSwiftLanguageVersion" value="5" />
  <preference name="iosExtraFilesystemsвы" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="EnableWebGL" value="false" />
  <preference name="WindowSize" value="1200x1000" />
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
  <preference name="HideKeyboardFormAccessoryBar" value="true" />
  <preference name="PLAY_SERVICES_VERSION" value="17.0.+" />
</widget>