<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Brite budget</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Brite Budjet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BUNDLE_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.konveier.timo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb414663592903611</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.912018847835-9j3jlgb4vfgbfmi81jhj7i6cru8u1njg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>budgetup</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>cc.fovea.openwith.ccfoveaopenwithdemo.shareextension</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ccfoveaopenwithdemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Для работы приложения требуется доступ к Bluetooth вашего устройства, чтобы установить соединение с близлежащими устройствами и обеспечить полноценное функционирование.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Необходим доступ к календарю для отображения событий</string>
	<key>NSCameraUsageDescription</key>
	<string>Необходим доступ к камере, для добавления изображений в задачи, работы с текстовым редактора, ведения дневников и отправки в чате</string>
	<key>NSContactsUsageDescription</key>
	<string>Для работы приложения требуется доступ к контактам пользователя, чтобы обеспечить интеграцию и удобство использования функций, связанных с контактами.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Необходим доступ к геолакационным данным, для отображения данных о погоде, создания напоминаний, сохранения позиции при добавлении данных</string>
	<key>NSLocationAlwaysUsageDescrcordova-plugin-statusbaription</key>
	<string>Необходим доступ к геолакационным данным, для отображения данных о погоде, создания напоминаний, сохранения позиции при добавлении данных</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Необходим доступ к геолакационным данным, для отображения данных о погоде, создания напоминаний, сохранения позиции при добавлении данных</string>
	<key>NSLocationUsageDescription</key>
	<string>Необходим доступ к геолакационным данным, для отображения данных о погоде, создания напоминаний, сохранения позиции при добавлении данных</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Необходим доступ к геолакационным данным, для отображения данных о погоде, создания напоминаний, сохранения позиции при добавлении данных</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Необходимо доступ к микрофону для</string>
	<key>NSMotionUsageDescription</key>
	<string>Для работы приложения требуется доступ к датчикам движения вашего устройства, чтобы обеспечить определенные функции и улучшить пользовательский опыт.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Необходим доступ к медиатеке, для добавления изображений в задачи, работы с текстовым редактора, ведения дневников и отправки в чате</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Ваши данные будут использоваться, для предоставления персонализированного опыта использования и для улучшения нашего продукта и сервисов</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
